#game {
  position: relative;
  width: 600px;
  height: 600px;
  border: solid 1px gray;
  background-color: whitesmoke;
}

#game div {
  position: absolute;
}

.tree {
  width: 40px;
  height: 30px;
  background-image: url(tree.png);
  background-size: 40px;
}

.bird {
  width: 40px;
  height: 40px;
  background-image: url(runsanta.gif);
  background-size: 40px;
  border-radius: 50%;
}

.fly {
  width: 25px;
  height: 25px;
  background-image: url(kids.gif);
  background-position-x: 0px;
  background-size: 25px;
}
